{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Your Animals</h2>
    <ul>
        {% for animal in animals %}
            <li>{{ animal.name }} ({{ animal.species }})</li>
        {% empty %}
            <li>No animals added yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>My Animals</h1>
    <a href="{% url 'add_animal' %}">+ Add New Animal</a>
    <ul>
        {% for animal in animals %}
            <li>{{ animal.name }} ({{ animal.species }})</li>
        {% empty %}
            <li>No animals added yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

